.DS_Store
index.php
application/config/config.php
application/config/database.php
.htaccess

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
