.app{
    background: #344150;
}

.tabs{
    border-bottom: #ffff00;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.tabs a{
    border-bottom: 1px solid #252E38;
    border-top: #ffff00;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.tabs a:hover{
    background-color: #EDEDED;
}

.tabs .active a, .tabs a:active {
    z-index: 2;
    background: #EDEDED;
    cursor: default;
}

.main{
    border-left-color: #344150;
    background-color: #EEE;
}

.item {
    background: #EDEDED;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #AAA;
    background-image: -webkit-linear-gradient(bottom left, #EDEDED 85%, #DDD 100%);
    background-image: -moz-linear-gradient(bottom left, #EDEDED 85%, #DDD 100%);
    background-image: -o-linear-gradient(bottom left, #EDEDED 85%, #DDD 100%);
    background-image: linear-gradient(to top right, #EDEDED 85%, #DDD 100%);
    text-shadow: 0 1px rgba(255, 255, 255, 1);
    color:#333;
}

.item:hover {
    z-index: 2;
    background: #DDDDDD;
    border-color: #777;
    cursor: pointer;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.25), 0 1px #DDD, 0 -1px #DDD;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.25), 0 1px #DDD, 0 -1px #DDD;
}
.item:active, .item.selected {
    z-index: 3;
    background: #DDD;
    border-color: #777;
    cursor: auto;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), 0 1px #DDD, 0 -1px #DDD;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), 0 1px #DDD, 0 -1px #DDD;
}

.item.itemheader{
    box-shadow:2px 5px 3px -5px #333;
    background: #EDEDED;
    border-bottom: 1px solid #AAA;
    background-image: -webkit-linear-gradient(bottom left, #EDEDED 55%, #DDD 100%);
    background-image: -moz-linear-gradient(bottom left, #EDEDED 55%, #DDD 100%);
    background-image: -o-linear-gradient(bottom left, #EDEDED 55%, #DDD 100%);
    background-image: linear-gradient(to top right, #EDEDED 55%, #DDD 100%);
}

.tmore{
    background: #EDEDED;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #AAA;
    background-image: -webkit-linear-gradient(bottom left, #EDEDED 55%, #DDD 100%);
    background-image: -moz-linear-gradient(bottom left, #EDEDED 55%, #DDD 100%);
    background-image: -o-linear-gradient(bottom left, #EDEDED 55%, #DDD 100%);
    background-image: linear-gradient(to top right, #EDEDED 55%, #DDD 100%);
    color:#444;
}

a.tmore:hover {
    z-index: 2;
    background: #DDDDDD;
    border-color: #777;
    cursor: pointer;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.25), 0 1px #DDD, 0 -1px #DDD;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.25), 0 1px #DDD, 0 -1px #DDD;
}

a.tmore:active{
    z-index: 3;
    background: #DDD;
    border-color: #777;
    cursor: auto;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), 0 1px #DDD, 0 -1px #DDD;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), 0 1px #DDD, 0 -1px #DDD;
}

.tabs .active a i, .tabs a:active i {
    background-image: url("../img/icons_active.png");
}

.tabs:active .active a:not(:active) i {
    background-image: url("../img/icons-white.png");
}

[class*="icon-"] {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../img/icons-white.png");
    background-repeat: no-repeat;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
}